@{
    ViewBag.Title = "Müşteri Kaydet";
}

<div id="musteriler">
    <div class="container">
        <div id="musteriler-row" class="row justify-content-center align-items-center">
            <div id="musteriler-column" class="col-md-6">
                <div id="musteriler-box" class="col-md-12">
                    <input type="hidden" value="@TempData["MusteriInfo"]" id="errortext" />
                    @using (Html.BeginForm("CreateMusteri", "Musteri", FormMethod.Post, new { id = "createMusteriForm" }))
                    {
                        <br />
                        <h3 class="text-center text-info">Müşteri Kayıt Formu</h3>
                        <br />
                        <div class="form-group">
                            <label for="ad" class="text-info">Müşteri Ad:</label><br>
                            <input type="text" name="ad" id="ad" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="soyad" class="text-info">Müşteri Soyad:</label><br>
                            <input type="text" name="soyad" id="soyad" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="telefon" class="text-info">Telefon</label><br>
                            <input type="text" name="telefon" id="telefon" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="eposta" class="text-info">E-posta</label><br>
                            <input type="text" name="eposta" id="eposta" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="adres" class="text-info">Adres</label><br>
                            <input type="text" name="adres" id="adres" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="Kaydet">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #musteriler .container #musteriler-row #musteriler-column #musteriler-box {
        margin-top: 50px;
        max-width: 600px;
        height: 690px;
        border: 1px solid #9C9C9C;
        background-color: #EAEAEA;
    }

        #musteriler .container #musteriler-row #musteriler-column #musteriler-box #musteriler-form {
            padding: 20px;
        }

            #musteriler .container #musteriler-row #musteriler-column #musteriler-box #musteriler-form #register-link {
                margin-top: -85px;
            }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        var txt = document.querySelector("#errortext").getAttribute("value");
        if (txt !== null && txt !== '') {
            document.querySelector("#infoText").innerHTML = txt;
            modal.style.display = "block";
        }

        $("#createMusteriForm").validate({
            rules: {
                ad: "required",
                soyad: "required",
                telefon: "required",
                adres: "required",
                eposta: {
                    required: true,
                    email: true
                }
            }
        });
    })
</script>
